*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  pointer-events: none;
}
li{
  list-style: none;
}
button{
  border: none;
  outline: none;
  padding: 5px 5px 5px 5px;
}
input{
  outline: none;
}

.Navbarcontainer{
  width:100%;
  background-color: #ffffff;
  box-shadow: 16px 8px 16px 8px rgb(0,0,0,0.1);
}
.Navchild{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 5px 10px 5px;
}
.Navlogo{
  width: 15%;
}
.useroptions{
  display: flex;
  grid-gap: 30px;
  padding-top: 15px;
}
.Navinput input{
  padding: 8px 300px 8px 8px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}
.Navsearch{
  background-color: #38B6FF;
padding: 8px 15px 8px 15px;
border-radius: 5px;
position: relative;
right: 48px;
color: #FFFFFF;
}
.UserAccount{
  display: flex;
  cursor: pointer;
}
.NavAccountText{
  margin-top: -10px;
}
.NavAccount{
font-weight: 600;
margin-top: -5px;
}
.badgecounter{
  position: relative;
  right: 10px;
  top:-5px;
}
.navcart{
 position: relative;
 right: 7px;
}
.Navmenu{
  display: none;
  cursor: pointer;
}

/* Herobanner */
.Herocontainer{
  padding-top: 60px;
}
.Herocategories{
  background: rgba(217, 217, 217, 0.2);
  box-shadow: 16px 8px 16px 8px rgb(0,0,0,0.1);
  width: 36%;
  /* padding: 5px 10px 5px 0px; */
}
.Herocategories li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}
.categorytxt{
  background-color: #FF1122;
  /* padding: 5px 10px 5px 0px; */
  color: white;
}
.Heroflex{
  display: flex;
  /* justify-content: space-between; */
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
}
.firstImg{
  /* width: 100%;  */
  margin-bottom: 5px;
}


/* Media Queries */
@media screen and (max-width:578px){
  .Navmenu{
  display: block;
  }
}