*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  pointer-events: none;
}
li{
  list-style: none;
}
button{
  border: none;
  outline: none;
  padding: 5px 5px 5px 5px;
}
input{
  outline: none;
}
.Navconatainer{
  background-color: #292929;
  padding: 12px 5px 12px 5px;
  width: 100%;
}
.Logochild{
  width: 10%;
}
.HeroImage{
  background-image: url(../public/Rectangle\ 5.png);
  width: 100%;
  /* height: 50vh; */
  padding-bottom: 250px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Watchpng{
  padding-top: 60px;
}
.Watchpng  h3{
width: 10%;
font-family: 'DM Sans';
font-weight: 700;
font-size: 72px;
line-height: 94px;
letter-spacing: -0.05em;
color: #FFFFFF;
}

/* SearchComponet */
.SearchContainer{
  padding: 20px 5px 20px 5px;
}
.SearchContainer span{
  font-weight: 500;
}
.inputbox input{
  padding: 3px 1000px 3px 3px;
  border: 1px solid #292929;
}

/* Media Queries */
@media screen and (max-width:320px) {
  .HeroImage{
    padding-bottom: 50px;
  }
.Logochild{
  width: 30%;
}
  .Logoimage{
    display: flex;
    align-items: center;
    justify-content: center;
  }
 .Watchpng{
  display: flex;
  align-items: center;
  justify-content: center;
 }
  .Watchpng h3{
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
   width: 80%;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.05em;
  }

  /* Search */
  .inputbox input{
    padding: 3px 10px 3px 3px;
  }
}

/* Ipad pro 834px */
@media (min-width:321px) and (max-width:834px) {
  .HeroImage{
    padding-bottom: 50px;
  }
.Logochild{
  width: 30%;
}
  .Logoimage{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Watchpng{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Watchpng h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
   width: 80%;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -0.05em;
  }
  .inputbox input{
    padding: 3px 80px 3px 3px;
  }
  .Searchchild span{
    position: relative;
    right: 104px;
  }
  .Searchchild{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }

}

@media (min-width:835px) and (max-width:1200px){
  .inputbox input{
    padding: 3px 700px 3px 3px;
  }
}